/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-image: url(https://media.licdn.com/dms/image/C4D12AQHBDLwZJNaCWw/article-cover_image-shrink_720_1280/0/1614662032048?e=2147483647&v=beta&t=aqL0YP8q2Pr4lONSA7ylS7KtYbL8VUbEOeIqwpWcoJ8);
	background-size: cover;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #1d3b20;
}

h3 {
  margin-top: 30px;
  color: #1d3b20;
}

hr {
	margin: 25px;
	height: 2px;
	background-color: blue;
}

.footer {
	margin-top: 20%;
	font-size: large;
	font-weight: bolder;
	text-decoration:none;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 1em;
  font-weight: bold;
}

.footer-text {
	text-decoration:none;
	color: #07023d;
	font-size: 25px;
}

a, p {
	color: #131f6e;
}